* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif ;
  background-color: #f5f8fa;
}
/* Utilities */
.container {
  width: 70%;
  margin: 0 auto;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.w-50 {
  width: 50%;
}
/* Prima riga header */
.main-header {
  background: #f5f8fa;
  height: 80px;
  border-bottom: 1px solid gray;
}
.navbar-left li a {
  border-right: 1px solid black;
}
/* .navbar-left li a::after {
  content: '|'
} */
.navbar-right {
  text-align: right;
}
.navbar-right ul li ,
.navbar-left ul li  {
  display: inline-block;
  list-style: none;
  line-height: 80px;
  padding: 0 10px;
}
.navbar-right ul li a {
  text-decoration: none;
  color: red;
  padding: 0 20px;
}
.navbar-left ul li a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
}
.fa-search {
  padding: 10px 20px;
  color: #00a4bd;
}
/* Button */
.btn {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ff7a59;
  line-height: 40px;
  background: white;
}
.btn-orange {
  background: #ff7a59;
}
.navbar-right .btn {
  color: #ff7a59;
}
.navbar-right .btn-orange {
  color: white;
}
/* inizio seconda linea col logo */
.second-header {
  background: white;
  height: 80px;
  border-bottom: 1px solid gray;
}
.main-navbar {
  width: 70%;
  text-align: right;
}
.main-navbar ul li {
  display: inline-block;
  list-style: none;
  line-height: 80px;
}
.main-navbar ul li a {
  text-decoration: none;
  color: #33475a;
  font-weight: bold;
  padding: 0 22px;
}
.logo {
  width: 30%;
  margin-top: 23px;
}
.fa-sort-down {
  display: inline-block;
  color: #0091ae;
  margin-bottom: 10px;
}
/* INIZIO CONTENUTO principale della pagina */
.main-content {
  width: 100%;
  height: 680px;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contenuto {
  width: 40%;
  margin-top: 50px;
}
.btn-big {
  display: inline-block;
  background: #ff7a59;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.contenuto h1,
.contenuto p {
  margin-bottom: 50px;
  margin-top: 20px;
}
/* Seconda sezione: DADI */
.dadi {
  height: 500px;
}
.logo-dado {
  margin-top: 40px;
  text-align: center;
}
.logo-dado img {
  width: 320px;
  height: auto;
}
.testo-dadi {
  text-align: center;
}
.testo-dadi h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
.libri {
  margin: 0 auto;
  width: 70%;
  height: 410px;
  background: white;
}
.libro-logo {
  width: 30%;
  margin-right: 10%;
  margin-top: 20px;
  text-align: center;
}
.libro-testo {
  width: 60%;
  }
.libro-logo a {
  margin-top: 40px;
}
